/* Общие стили для каркаса */
html, body {
	height: 100%;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	overflow-x: auto;
}

body, input, textarea, p {
	font-family: Arial, Helvetica, sans-serif;
}

a, a:link, a:visited, a:hover, a:active, a:focus {
	color: #0067bd;
}

.placeholder {
	color: #b4bec6 !important;
}

:-moz-placeholder {
	color: #b4bec6 !important;
}

*:-moz-placeholder:focus {
	color: transparent !important;
}

*[autofocus]:-moz-placeholder:focus {
	color: #b4bec6 !important;
}

::-webkit-input-placeholder {
	color: #b4bec6;
}

:-ms-input-placeholder {
	color: #b4bec6;
}

.error .placeholder {
	color: #d19d42 !important;
}

.error :-moz-placeholder {
	color: #d19d42 !important;
}

.error ::-webkit-input-placeholder {
	color: #d19d42;
}

.error :-ms-input-placeholder {
	color: #d19d42;
}

::-ms-clear {
	display: none;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	cursor: default;
}

input.force-redraw {
	text-shadow: rgba(0, 0, 0, 0) 0 0 0;
}

a.btn {
	color: #333;
	outline: 0 !important;
}

a.btn-primary {
	color: #fff;
}

.modal-backdrop, .modal-backdrop.fade.in {
	opacity: .7;
	filter: alpha(opacity=70);
}

.modal-open .ui-tooltip {
	z-index: 1020;
}

#zoomframe {
	width: 250px;
	visibility: hidden;
}

.highlight {
	background: #ffebae;
}