.l-body {
	width: 100%;
	min-width: 960px;
	/*left: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	overflow: scroll;
	overflow-x: hidden;*/
}

.b-slider {
	position: relative;
	height: 768px;
	/*background: url('../images/50-Low-Poly-Backgrounds/p1.jpg') 50% 0 no-repeat;
	background-size: cover;*/
}

.b-slider-background {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.b-contact {
	position: fixed;
	width: 100%;
	z-index: 100;
}

.b-contact-background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #eeeeee;
	opacity: .5;
}

.b-contact-info {
	position: relative;
	width: 960px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 26px;
}

.b-contact-info-phone,
.b-contact-info-email {
	position: relative;
	float: left;
	padding-left: 22px;
}

.b-contact-info-phone:before,
.b-contact-info-email:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -11px;
	width: 22px;
	height: 20px;
	background: url('../images/phone.png') no-repeat;
}

.b-contact-info-email {
	float: right;
}

.b-contact-info-email:before {
	margin-top: -10px;
	background-image: url('../images/email.png');
}

.b-navigation {
	position: relative;
	margin-top: -60px;
	width: 100%;
	height: 60px;
	background: rgba(87,95,119,.95); /*#575f77;*/
	z-index: 100;
}

.b-navigation--sticky {
	position: fixed;
	top: 86px;
}

.b-navigation--sticky_bottom {
	position: fixed;
	bottom: 0;
}

.b-navigation-wrapper {
	position: relative;
	width: 940px;
	height: 60px;
	margin: 0 auto;
}

.b-navigation-logo {
	float: left;
	margin-top: 5px;
	width: 151px;
	height: 49px;
	background: url('../images/logo.png') no-repeat;
}

.b-navigation-list {
	display: inline-block;
	float: right;
	margin: 0;
	padding: 20px 0;
	list-style: none;
}

.b-navigation-list-item {
	display: inline-block;
	float: left;
	margin-left: 24px;
}

.b-navigation-list-item a {
	color: #ffffff;
	font-family: 'Proxima Nova Rg', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	text-decoration: none;
}

.b-page {
	position: relative;
	/*margin-top: 60px;*/
}

.b-section {
	position: relative;
	width: 100%;
	height: auto;
	padding: 71px 0 74px;
	margin: 0 auto;
	overflow: hidden;
}

.b-section--green {
	background: #52a276;
}

.b-section-wrapper {
	position: relative;
	max-width: 940px;
	height: auto;
	padding: 0;
	margin: 0 auto;
}

.b-welcome {
	text-align: center;
}

.b-welcome-head {
	margin: 0 0 30px;
	color: #ffffff;
	display: inline-block;
	font-family: 'Proxima Nova Lt', Arial, Helvetica, sans-serif;
	font-size: 40px;
	line-height: 48px;
	font-weight: normal;
	text-transform: uppercase;
}

.b-welcome-head--sub {
	font-family: 'Proxima Nova Rg', Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 29px;
	margin-top: 0;
	margin-bottom: 35px;
}

.b-features {
	background: url('../images/title_below.png') no-repeat 50% 30px;
	background-size: contain;
}

.b-features:after {
	content: '';
	display: table;
	line-height: 0;
	clear: both;
}

.b-features-head {
	color: #ffffff;
	font-family: 'Proxima Nova Lt', Arial, Helvetica, sans-serif;
	font-size: 14px;
	/*font-weight: bold;*/
	line-height: 20px;
	margin: 0 0 10px;
	text-align: center;
	text-transform: uppercase;
}

.b-features-head-list {
	display: block;
	margin: 46px 0 0 0;
	padding: 0;
	list-style: none;
}

.b-features-head-list-item {
	float: left;
	margin: 35px 20px 0 0;
	width: 220px;
	height: auto;
}

.b-features-head-list-item:last-child {
	margin-right: 0;
}

.b-features-head-list-item-wrapper {
	position: relative;
	height: 220px;
	width: 220px;
	background: #ffffff;
	margin-top: 23px;
	border: 0 none;
	border-radius: 50%;
	z-index: 2;
	transition: background .3s ease-in-out 0s;
}

.b-features-head-list-item-text {
	display: table-cell;
	/*padding-top: 92px;*/
	height: 220px;
	width: 220px;
	vertical-align: middle;
}

.b-features-head-list-item-text h4 {
	color: #52a276;
	font-family: 'Proxima Nova Rg', Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 10px;
	transition: color .35s ease-in-out 0s;
}

.b-features-head-list-item-text p {
	color: #545454;
	font-family: 'Proxima Nova Rg', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	text-align: center;
	margin: 0 26px;
	text-transform: none;
	transition: color .35s ease-in-out 0s;
}

.b-features-head-list-item-top_box {
	position: absolute;
	width: 100%;
	height: auto;
	top: -23px;
	left: auto;
	text-align: center;
}

.b-features-head-list-item-top_box-icon {
	display: inline-block;
	position: relative;
	height: 86px;
	width: 86px;
	/*background: url(../images/divan.png) 0 50% no-repeat;
	background-size: contain;*/
	background-color: #4e5670;
	border: 0 none;
	border-radius: 50%;
	transition: background-color .35s ease-in-out 0s;
}

.b-features-head-list-item-top_box-icon-background {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -38px 0 0 -38px;
	height: 76px;
	width: 76px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0 none;
	border-radius: 50%;
	transition: background-color .35s ease-in-out 0s;
}

.b-features-head-list-item-top_box-icon-background--hidden {
	opacity: 0;
	transition: opacity .35s ease-in-out 0s;
}

.b-features-head-list-item-top_box-icon-background--divan {
	background-image: url(../images/divan--light.png);
}

.b-features-head-list-item-top_box-icon-background--divan.b-features-head-list-item-top_box-icon-background--hidden {
	background-image: url(../images/divan--green.png);
}

.b-features-head-list-item-top_box-icon-background--vip {
	background-image: url(../images/certificat--light.png);
	background-size: 65%;
}

.b-features-head-list-item-top_box-icon-background--vip.b-features-head-list-item-top_box-icon-background--hidden {
	background-image: url(../images/certificat--green.png);
}

.b-features-head-list-item-top_box-icon-background--control {
	background-image: url(../images/control--light.png);
	background-size: 80%;
}

.b-features-head-list-item-top_box-icon-background--control.b-features-head-list-item-top_box-icon-background--hidden {
	background-image: url(../images/control--green.png);
}

.b-features-head-list-item-top_box-icon-background--lock {
	background-image: url(../images/lock--light.png);
	background-size: 80%;
}

.b-features-head-list-item-top_box-icon-background--lock.b-features-head-list-item-top_box-icon-background--hidden {
	background-image: url(../images/lock--green.png);
}

/*.b-features-head-list-item-top_box-icon span {
	color: #ffffff;
	font-size: 40px;
	line-height: 86px;
	text-align: center;
	transition: color .35s ease-in-out 0s;
}

.b-features-head-list-item-top_box-icon span:before {
	content: 'i';
}*/

.b-features-head-list-item-wrapper:hover{
	background: #4e5670;
}

.b-features-head-list-item-wrapper:hover .b-features-head-list-item-text h4 {
	color: #ffffff;
}

.b-features-head-list-item-wrapper:hover .b-features-head-list-item-text p {
	color: #ffffff;
}

.b-features-head-list-item-wrapper:hover .b-features-head-list-item-top_box-icon {
	background-color: #ffffff;
}

/*.b-features-head-list-item-wrapper:hover .b-features-head-list-item-top_box-icon span {
	color: #52a276;
}*/

.b-features-head-list-item-wrapper:hover .b-features-head-list-item-top_box-icon-background--hidden {
	opacity: 1;
}