.l-body {
	width: 100%;
	min-width: 960px;
	/*left: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	overflow: scroll;
	overflow-x: hidden;*/
}

.b-slider {
	position: relative;
	height: 768px;
	/*background: url('../images/50-Low-Poly-Backgrounds/p1.jpg') 50% 0 no-repeat;
	background-size: cover;*/
}

.b-slider-background {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.b-contact {
	position: fixed;
	width: 100%;
	z-index: 100;
}

.b-contact-background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #eeeeee;
	opacity: .5;
}

.b-contact-info {
	position: relative;
	width: 960px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 26px;
}

.b-contact-info-phone,
.b-contact-info-email {
	position: relative;
	float: left;
	padding-left: 22px;
}

.b-contact-info-phone:before,
.b-contact-info-email:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -11px;
	width: 22px;
	height: 20px;
	background: url('../images/phone.png') no-repeat;
}

.b-contact-info-email {
	float: right;
}

.b-contact-info-email:before {
	margin-top: -10px;
	background-image: url('../images/email.png');
}

.b-navigation {
	position: relative;
	margin-top: -60px;
	width: 100%;
	height: 60px;
	background: rgba(87,95,119,.95); /*#575f77;*/
	z-index: 100;
}

.b-navigation--sticky {
	position: fixed;
	top: 86px;
}

.b-navigation--sticky_bottom {
	position: fixed;
	bottom: 0;
}

.b-navigation-wrapper {
	position: relative;
	width: 940px;
	height: 60px;
	margin: 0 auto;
}

.b-navigation-logo {
	float: left;
	margin-top: 5px;
	width: 151px;
	height: 49px;
	background: url('../images/logo.png') no-repeat;
}

.b-navigation-list {
	display: inline-block;
	float: right;
	margin: 0;
	padding: 20px 0;
	list-style: none;
}

.b-navigation-list-item {
	display: inline-block;
	float: left;
	margin-left: 24px;
}

.b-navigation-list-item a {
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	text-decoration: none;
}

.b-page {
	position: relative;
	/*margin-top: 60px;*/
}

.b-section {
	position: relative;
	width: 100%;
	height: auto;
	padding: 71px 0 74px;
	margin: 0 auto;
	overflow: hidden;
}

.b-section--green {
	background: #52a276;
}

.b-section--grey {
	background: #eeeeee;
}

.b-section--statistic {
	padding: 0;
}

.b-section-wrapper {
	position: relative;
	max-width: 940px;
	height: auto;
	padding: 0;
	margin: 0 auto;
}

.b-welcome {
	text-align: center;
}

.b-welcome-head {
	margin: 0 0 30px;
	color: #ffffff;
	display: inline-block;
	font-family: 'Proxima Nova Lt';
	font-size: 38px;/*40px;*/
	line-height: 48px;
	font-weight: normal;
	text-transform: uppercase;
}

.helvetica .b-welcome-head {
	font-family: Helvetica, Arial, sans-serif;
}

.open_sans .b-welcome-head {
	font-family: 'Open Sans';
	font-weight: lighter;
}

.google_open_sans .b-welcome-head {
	font-family: 'Open Sans Lt';
}

.b-welcome-head--sub {
	font-size: 22px;/*24px;*/
	line-height: 29px;
	margin-top: 0;
	margin-bottom: 35px;
	font-family: 'Proxima Nova Rg';
}

.helvetica .b-welcome-head--sub,
.open_sans .b-welcome-head--sub {
	font-weight: normal;
}

.google_open_sans .b-welcome-head--sub {
	font-family: 'Open Sans Rg';
}

.b-features {
	background: url('../images/title_below.png') no-repeat 50% 30px;
	background-size: contain;
}

.b-features:after {
	content: '';
	display: table;
	line-height: 0;
	clear: both;
}

.b-features-head {
	color: #ffffff;
	font-family: 'Proxima Nova Lt';
	font-size: 14px;
	/*font-weight: bold;*/
	line-height: 20px;
	margin: 0 0 10px;
	text-align: center;
	text-transform: uppercase;
}

.helvetica .b-features-head {
	font-family: Helvetica, Arial, sans-serif;
}

.open_sans .b-features-head {
	font-family: 'Open Sans';
	font-weight: lighter;
}

.google_open_sans .b-features-head {
	font-family: 'Open Sans Lt';
}

.b-features-head-list {
	display: block;
	margin: 46px 0 0 0;
	padding: 0;
	list-style: none;
}

.b-features-head-list-item {
	float: left;
	margin: 35px 20px 0 0;
	width: 220px;
	height: auto;
}

.b-features-head-list-item:last-child {
	margin-right: 0;
}

.b-features-head-list-item-wrapper {
	position: relative;
	height: 220px;
	width: 220px;
	background: #ffffff;
	margin-top: 23px;
	border: 0 none;
	border-radius: 50%;
	z-index: 2;
	transition: background .3s ease-in-out 0s;
}

.b-features-head-list-item-text {
	display: table-cell;
	/*padding-top: 92px;*/
	height: 220px;
	width: 220px;
	vertical-align: middle;
}

.b-features-head-list-item-text h4 {
	color: #52a276;
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 10px;
	transition: color .35s ease-in-out 0s;
}

.b-features-head-list-item-text p {
	color: #545454;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	text-align: center;
	margin: 0 26px;
	text-transform: none;
	transition: color .35s ease-in-out 0s;
}

.b-features-head-list-item-top_box {
	position: absolute;
	width: 100%;
	height: auto;
	top: -23px;
	left: auto;
	text-align: center;
}

.b-features-head-list-item-top_box-icon {
	display: inline-block;
	position: relative;
	height: 86px;
	width: 86px;
	/*background: url(../images/divan.png) 0 50% no-repeat;
	background-size: contain;*/
	background-color: #4e5670;
	border: 0 none;
	border-radius: 50%;
	transition: background-color .35s ease-in-out 0s;
}

.b-features-head-list-item-top_box-icon-background {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -38px 0 0 -38px;
	height: 76px;
	width: 76px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0 none;
	border-radius: 50%;
	transition: background-color .35s ease-in-out 0s;
}

.b-features-head-list-item-top_box-icon-background--hidden {
	opacity: 0;
	transition: opacity .35s ease-in-out 0s;
}

.b-features-head-list-item-top_box-icon-background--divan {
	background-image: url(../images/divan--light.png);
}

.b-features-head-list-item-top_box-icon-background--divan.b-features-head-list-item-top_box-icon-background--hidden {
	background-image: url(../images/divan--green.png);
}

.b-features-head-list-item-top_box-icon-background--vip {
	background-image: url(../images/vip--light.png);
	background-size: 85%;
}

.b-features-head-list-item-top_box-icon-background--vip.b-features-head-list-item-top_box-icon-background--hidden {
	background-image: url(../images/vip--green.png);
}

.b-features-head-list-item-top_box-icon-background--control {
	background-image: url(../images/control--light.png);
	background-size: 80%;
}

.b-features-head-list-item-top_box-icon-background--control.b-features-head-list-item-top_box-icon-background--hidden {
	background-image: url(../images/control--green.png);
}

.b-features-head-list-item-top_box-icon-background--lock {
	background-image: url(../images/lock--light.png);
	background-size: 80%;
}

.b-features-head-list-item-top_box-icon-background--lock.b-features-head-list-item-top_box-icon-background--hidden {
	background-image: url(../images/lock--green.png);
}

/*.b-features-head-list-item-top_box-icon span {
	color: #ffffff;
	font-size: 40px;
	line-height: 86px;
	text-align: center;
	transition: color .35s ease-in-out 0s;
}

.b-features-head-list-item-top_box-icon span:before {
	content: 'i';
}*/

.b-features-head-list-item-wrapper:hover{
	background: #4e5670;
}

.b-features-head-list-item-wrapper:hover .b-features-head-list-item-text h4 {
	color: #ffffff;
}

.b-features-head-list-item-wrapper:hover .b-features-head-list-item-text p {
	color: #ffffff;
}

.b-features-head-list-item-wrapper:hover .b-features-head-list-item-top_box-icon {
	background-color: #ffffff;
}

/*.b-features-head-list-item-wrapper:hover .b-features-head-list-item-top_box-icon span {
	color: #52a276;
}*/

.b-features-head-list-item-wrapper:hover .b-features-head-list-item-top_box-icon-background--hidden {
	opacity: 1;
}

/*.b-apply_form {
	text-align: center;
}*/

.b-apply_form-input {
	display: block;
	float: left;
	padding: 14px 12px;
	margin: 0 11px 30px 0;
	width: 280px;
	border-radius: 3px;
	border: 1px solid #dddddd;
	box-shadow: none;
	outline: none;
}

.b-apply_form-input--phone {
	margin-right: 0;
}

.b-apply_form-button {
	background: #4e5670;
	color: #ffffff;
	font-family: 'Proxima Nova Lt';
	font-size: 20px;
	line-height: 50px;
	height: 50px;
	width: 100%;
	border: 0 none;
	padding: 0;
	margin: 0;
	border-radius: 3px;
	text-transform: uppercase;
}

.helvetica .b-apply_form-button {
	font-family: Helvetica, Arial, sans-serif;
}

.open_sans .b-apply_form-button {
	font-family: 'Open Sans';
	font-weight: lighter;
}

.google_open_sans .b-apply_form-button {
	font-family: 'Open Sans Rg';
}

.b-about_us {
	position: relative;
}

.b-about_us:before {
	position: absolute;
	top: -53px;
	left: 50%;
	margin-left: -25px;
	width: 49px;
	height: 49px;
	background: url(../images/logo-emblem.png);
	content: '';
}

.b-about_us-title {
	color: #217978;
	font-family: 'Proxima Nova Th';
	font-size: 34px;
	line-height: 42px;
	margin: 52px 0 14px;
	text-transform: uppercase;
	text-align: center;
}

.helvetica .b-about_us-title {
	font-family: Helvetica, Arial, sans-serif;
}

.open_sans .b-about_us-title {
	font-family: 'Open Sans';
	font-weight: bold;
}

.google_open_sans .b-about_us-title {
	font-family: 'Open Sans Bl';
}

.b-about_us-text {
	padding-top: 40px;
	color: #525252;
	background: url(../images/title-below_2.png) no-repeat 50% 0;
  	background-size: contain;
}

.b-about_us-text p {
	/*font-smooth: always;*/
	font-family: 'Proxima Nova Lt';
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	margin: 0;
	text-align: center;
}

.helvetica .b-about_us-text p {
	font-family: Helvetica, Arial, sans-serif;
}

.open_sans .b-about_us-text p {
	font-family: 'Open Sans';
	font-weight: lighter;
}

.google_open_sans .b-about_us-text p {
	font-family: 'Open Sans Rg';
}

.b-about_us-text h4,
.b-how_we_work h4 {
	color: #000;
	font-size: 20px;
	font-weight: normal;
	line-height: 24px;
	margin: 27px 0 21px;
	text-align: center;
	text-transform: uppercase;
}

.b-statistic {
	margin: 0;
	padding: 0;
	text-align: justify;
	font-family: 'Open Sans ExtraBl';
}

.b-statistic:after,
.b-statistic:before {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
	visibility: hidden;
	overflow: hidden;
}

.b-statistic li,
.b-statistic li span {
	  display: inline-block;
}

.b-statistic-more {
	margin-right: 20px;
	font-size: 18px;
	text-transform: uppercase;
}

.b-statistic-num {
	margin-right: 15px;
	font-size: 60px;
	line-height: 1;
}

.b-statistic-cont {
	font-family: 'Open Sans Rg';
}

#font_select {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

.b-how_we_work h4 {
	margin-top: 0;
}

.b-how_we_work-process_list {
	display: block;
	margin: 0;
	padding: 0;
}

.b-how_we_work-process_list-item {
	float: left;
	list-style-type: none;
	width: 300px;
	margin-top: 43px;
	margin-right: 20px;
	margin-bottom: 40px;
}

.b-how_we_work-process_list-item:last-child {
	margin-right: 0;
}

.b-how_we_work-process_list-item-box {
	width: 300px;
	height: auto;
	position: relative;
	z-index: 2;
}

.b-how_we_work-process_list-item-box-polygon {
	position: relative;
	height: 126px;
	width: 44px;
	float: left;
	margin-right: 18px;
	margin-left: 22px;
	background: #4e5670;
	z-index: 3;
}

.b-how_we_work-process_list-item-box:hover .b-how_we_work-process_list-item-box-polygon {
	background: #52a276;
}

.b-how_we_work-process_list-item-box-polygon:before,
.b-how_we_work-process_list-item-box-polygon:after {
	position: absolute;
	content: '';
	height: 0;
	top: 0;
	left: -22px;
	width: 0px;
	border-right: 22px solid #4e5670;
	border-top: 0px solid transparent;
	border-bottom: 126px solid transparent;
	z-index: 3;
}

.b-how_we_work-process_list-item-box:hover  .b-how_we_work-process_list-item-box-polygon:after{
	border-right-color: #52a276;
}

.b-how_we_work-process_list-item-box:hover  .b-how_we_work-process_list-item-box-polygon:before{
	border-right-color: #52a276;
}

.b-how_we_work-process_list-item-box-polygon-ps_circle {
	position: absolute;
	top: 27px;
	left: -18px;
	background: #ffffff;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	z-index: 4;
}

.b-how_we_work-process_list-item-box-polygon-ps_circle-text {
	position: relative;
	height: 100%;
	width: 100%;
}

.b-how_we_work-process_list-item-box-polygon-ps_circle-text .step {
	color: #60698a;
	display: block;
	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
	margin-top: 10px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}

.b-how_we_work-process_list-item-box-polygon-ps_circle-text .number {
	color: #60698a;
	display: block;
	font-family: 'Open Sans ExtraBl';
	font-size: 40px;
	font-weight: normal;
	line-height: 46px;
	text-align: center;
	vertical-align: middle;
}

.b-how_we_work-process_list-item-box-process_desc .icon {
	display: inline;
	width: auto;
	height: auto;
	/*line-height: normal;*/
	vertical-align: baseline;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	margin-top: 0;
	font-size: 40px;
	line-height: 46px;
	color: #4e5670;
	font-family: FontAwesome;
  	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
}

.b-how_we_work-process_list-item-box:hover .b-how_we_work-process_list-item-box-polygon-ps_circle-text .step,
.b-how_we_work-process_list-item-box:hover .b-how_we_work-process_list-item-box-polygon-ps_circle-text .number,
.b-how_we_work-process_list-item-box:hover .b-how_we_work-process_list-item-box-process_desc .icon {
	color: #52a276;
}

.b-how_we_work-process_list-item-box-process_desc .icon:before {
	text-decoration: inherit;
	display: inline-block;
	speak: none;
}

.b-how_we_work-process_list-item-box-process_desc .icon--sitemap:before {
	content: "\f0e8";
}

.b-how_we_work-process_list-item-box-process_desc .icon--certificate {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url(../images/certificat--purple.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.b-how_we_work-process_list-item-box:hover .b-how_we_work-process_list-item-box-process_desc .icon--certificate {
	background-image: url(../images/certificat--green.png);
}

.b-how_we_work-process_list-item-box-process_desc .icon--hand:before {
	content: "\f0a4";
}

.b-how_we_work-process_list-item-box-process_desc h5 {
	color: #000;
	font-family: 'Proxima Nova Rg';
	font-size: 16px;
	line-height: 20px;
	margin: 15px 0 5px;
	font-weight: normal;
	text-transform: uppercase;
}

.b-how_we_work-process_list-item-box-process_desc p {
	color: #545454;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	margin: 0;
}

.b-how_we_work-process_list-item-box-process_arrow {
	position: absolute;
	background: url("http://bobrodemon.ru/oldLanding/css/../images/blue-arrow.png") no-repeat 0 0;
	top: -43px;
	left: 41px;
	width: 43px;
	height: 21px;
	z-index: 3;
	text-indent: -9999px;
}

.b-how_we_work-process_list-item-box:hover .b-how_we_work-process_list-item-box-process_arrow {
	background: url("http://bobrodemon.ru/oldLanding/css/../images/red-arrow.png") no-repeat 0 0;
}